/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
#educacion__menu__foto {
    width: 100%;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    #educacion__menu__foto {
        width: 60%;
        object-fit: cover;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */