/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.educacion__carrusel__contenido__img{
    width: 5rem;
    height: 5rem;
    transition: 0.3s;
    display: block;
    margin-bottom: .5rem;
}

.educacion__carrusel__contenido__img:hover {
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--blanco);
    margin: 3px;
    cursor: pointer;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px){
    .educacion__carrusel__contenido__img{
        width: 8rem;
        height: 8rem;
    }
    
    .educacion__carrusel__contenido__img:hover {
        width: 7rem;
        height: 7rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .educacion__carrusel__contenido__img{
        width: 4.5rem;
        height: 4.5rem;
    }
    .educacion__carrusel__contenido__img:hover {
        width: 3rem;
        height: 3rem;
    }
    
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */