/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.contacto__contenedor {
    padding: 3rem 3rem 2rem;
    background-color: var(--verde);
    display: block;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .contacto__contenedor {
        padding: 4rem 4rem 2rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .contacto__contenedor {
        padding: 8rem 6rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .contacto__contenedor {
    background-color: var(--azul);
}