.contacto__btn__enviar {
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    border-color: var(--azul);
    background-color: var(--verde);
    width: 9rem;
    font-family: var(--font-ubuntu);
    cursor: pointer;
    font-size: .75rem;
    font-weight: 900;
}

.contacto__btn__enviar:hover {
    padding: 1rem 2.5rem;
    color: var(--blanco);
    background-color: var(--azul);
    width: 12rem;
    font-weight: 900;
    font-size: 1rem;
}

body.dark .contacto__btn__enviar{
    border-color: var(--verde);
    color: var(--blanco);
    background-color: var(--azul);
}
body.dark .contacto__btn__enviar:hover {
    background-color: var(--verde);
}