/*------------------------------------------------------ Versión móvil------------------------------------------------------ */

/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
/* @media screen and (min-width: 768px) {
    .presentacion__fotografia {
        position: absolute;
        right: 0;
        margin-right: 6rem;
        margin-top: 7rem;
        text-align: left;
    }
} */
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
/* @media screen and (min-width: 1024px) {
    .presentacion__fotografia {
        margin-top: 0rem;
    }
} */
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */

