.presentacion__contenedor__foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    cursor: pointer;
    z-index: 3;
}

.presentacion__dos:hover .presentacion__contenedor__foto {
    opacity: 0;
}