/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.presentacion__texto-h3 {
    color: var(--gris__oscuro);
    font-size: 1.5rem;
    line-height: 1.5;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .presentacion__texto-h3{
        width: 100%;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .presentacion__texto-h3{
    color: var(--blanco);
}