/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.presentacion{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 21rem;
}

.presentacion__uno{
    text-align: center;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .presentacion{
        padding: 2rem 4rem;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
    }
    .presentacion__uno{
        width: 50%;
        text-align: left;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .presentacion{
        padding: 4rem 6rem;
        margin-bottom: 0rem;
        gap: 3rem;
    }

    .presentacion__uno{
        width: 75%;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */



/*------------------------------------------------------ Versión móvil------------------------------------------------------ */

/*------------------------------------------------------ Versión tablet------------------------------------------------------ */

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */

/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */