/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.presentacion__texto-p{
    line-height: 1.5;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
.presentacion__parrafo__dos{
    display: none;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .presentacion__texto-p{
        font-size: 1.25rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .presentacion__parrafo__dos{
        display: block;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .presentacion__texto-p{
    color: var(--blanco);
}