

/*------------------------------------------------------ Versión móvil------------------------------------------------------ */

/*------------------------------------------------------ Versión tablet------------------------------------------------------ */

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .sobre__contenido {
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin-top: 2rem;
        gap: 4rem;
        padding: 0 3rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */