/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.sobre__contenido-p{
    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--azul);
    text-align: center;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .sobre__contenido-p{
        font-size: 1.25rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .sobre__contenido-p{
        text-align: right;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .sobre__contenido-p{
    color: var(--blanco);
}