/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.sobre {
    background-color: var(--);
    padding: 3rem;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .sobre {
        padding: 4rem 4rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .sobre {
        padding: 8rem 2rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .sobre {
    background-color: var(--);
}