/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.portafolio__carta .portafolio__contenedor__detalles .portafolio__contenido__descripcion{
    transform: translateY(8rem);
    width: 80%;
    margin: 0 auto;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .portafolio__carta .portafolio__contenedor__detalles .portafolio__contenido__descripcion{
    transform: translateY(9rem);
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .portafolio__carta .portafolio__contenedor__detalles .portafolio__contenido__descripcion{
        transform: translateY(10rem);
        width: 80%;
        margin: 0 auto;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */