/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.portafolio-p{
    line-height: 1.5;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .portafolio-p{
        font-size: 1.25rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .portafolio-p{
        font-size: 1.1rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .portafolio-p{
    color: var(--blanco);
}