/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.portafolio__carta__img{
    position: absolute;
    top: -3.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 10rem;
    background-color: var(--azul);
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.portafolio__carta:hover .portafolio__carta__img {
    width: 20rem;
    height: 15rem;
}

.portafolio__carta .portafolio__carta__img::before {
    content: '';
    position: absolute;
    inset: 50px -65px;
    background: linear-gradient(transparent, #d47d88, #d47d88, #d47d88, transparent);
    animation: animate2 8s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.portafolio__carta .portafolio__carta__img::after {
    content: '';
    position: absolute;
    inset: 6px;
    background-color: var(--verde);
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
body.dark .portafolio__carta__img{
    background-color: var(--modo__dark);
}
body.dark .portafolio__carta__img::after {
    background-color: var(--azul);
}