/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.portafolio__carta {
    position: relative;
    height: 14.65rem;
    transition: 0.5s;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
}
.portafolio__carta:hover {
    height: 38rem;
    cursor: pointer;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .portafolio__carta:hover {
        height: 32rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .portafolio__carta {
        width: 30%;
    }
    .portafolio__carta:hover {
        height: 38rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */