.experiencia__carta__img {
    position: absolute;
    top: -3.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 9.5rem;
    height: 9.5rem;
    background-color: var(--modo__light);
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.experiencia__carta:hover .experiencia__carta__img {
    width: 10rem;
    height: 10rem;
}

.experiencia__carta .experiencia__carta__img::before {
    content: '';
    position: absolute;
    inset: 50px -65px;
    background: linear-gradient(transparent, #d47d88, #d47d88, #d47d88, transparent);
    animation: animate2 8s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.experiencia__carta .experiencia__carta__img::after {
    content: '';
    position: absolute;
    inset: 6px;
    background-color: var(--verde);
}

@media screen and (min-width: 768px) {
    .experiencia__carta:hover .experiencia__carta__img{
        width: 15.5rem;
        height: 15.5rem;
    }
}

body.dark .experiencia__carta__img {
    background-color: var(--modo__dark);
}

body.dark .experiencia__carta .experiencia__carta__img::after {
    background-color: var(--azul);
}