.experiencia__titulo {
    font-weight: 700;
    color: var(--azul);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
}

body.dark .experiencia__titulo{
    color: var(--blanco);
}