.experiencia__carta {
    position: relative;
    width: 18rem;
    height: 14rem;
    transition: 0.5s;
    border-radius: 1.25rem;
}

.experiencia__carta:hover {
    height: 35rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .experiencia__carta{
        width: 32rem;
        height: 13rem;
    }

    .experiencia__carta:hover{
        height: 32rem;
    }
}

@media screen and (min-width: 1024px) {

    .experiencia__carta{
        width: 36rem;
    }

    .experiencia__carta:hover{
        height: 28rem;
    }
}