.experiencia__carta .experiencia__contenedor__contenido .experiencia__posicion__trabajo .experiencia__posicion {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--azul);
    line-height: 1.2rem;
}

body.dark .experiencia__carta .experiencia__contenedor__contenido .experiencia__posicion__trabajo .experiencia__posicion {
    color: var(--verde);
}
