/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.educacion__software__iconos {
    text-align: center;
    padding: 2rem 0;
}


/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .educacion__software__iconos {
        width: 15rem;
    }
}

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .educacion__software__iconos {
        width: 20rem;
        padding: 0;
    }
}

/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */

