/*------------------------------------------------------ Versión móvil------------------------------------------------------ */

/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .educacion__software {
        display: flex;
        gap: 5rem;
        padding: 0 auto;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .educacion__software {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
    }
}

/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */