.portafolio__carrusel__punto{
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--gris__oscuro);
    margin: .25rem;
    border-radius: 100%;
    
}

.portafolio__carrusel__punto.activo{
    background-color: var(--verde);
}

body.dark .portafolio__carrusel__punto{
    background-color: var(--modo__light);
}

body.dark .portafolio__carrusel__punto.activo{
    background-color: var(--rosa);
}