/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.portafolio__carrusel__imagen{
    width: calc(100% / 5 - 2rem); /* modificado*/
}

/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .portafolio__carrusel__imagen{
        width: calc(100% / 5 - 2rem); /* modificado*/
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .portafolio__carrusel__imagen{
        width: calc(35% / 5 - 2rem);
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */