.portafolio__boton__contenido {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    /* From https://css.glass */
    background: rgba(237, 237, 239, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.2px);
    -webkit-backdrop-filter: blur(18.2px);
    border: 1px solid rgba(237, 237, 239, 0.66);
}

body.dark .portafolio__boton__contenido {
    /* From https://css.glass */
    background: rgba(35, 35, 38, 0.23);
}