.portafolio__grande{
    width: 500%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 4rem;

    transition: all .5s ease;
    transform: translateX(0%);
}