/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.educacion__titulo{
    font-weight: 600;
    color: var(--azul);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
}

.dark .educacion__titulo{
    color: var(--blanco);
}

/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px){

}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px){
    
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */
