/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.educacion__carta__pic{
    z-index: 97;
    width: 24.5rem;
    height: 12.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.75rem;
    filter: grayscale(100%);
    transition: 0.3s ease;
    scale: .75;
}

.educacion__carta:hover .educacion__carta__pic{
    filter: grayscale(0);
    width: 28rem;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .educacion__carta__pic{
        background-size: cover;
        scale: .5;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .educacion__carta__pic{
        scale: .75;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */