/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.educacion__cards {
    display: block;
    width: 100%;
    height: 100%;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .educacion__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .educacion__cards {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-evenly;
        padding-bottom: 4rem;
        flex-direction: row;
    }
}

/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */