/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.educacion{
    padding: 3rem;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .educacion{
        padding: 4rem;
    }
}
/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .educacion{
        padding: 8rem 4rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */