.item .icons__nav {
    display: flex;
    border-left: 4px solid transparent;
    font-size: 1.5rem;
    text-align: center;
}

/* ----------------------------------------- Versión Desktop -----------------------------------------*/
@media screen and (min-width: 1024px) {
    .item:hover .icons__nav {
        transform: translateX(5px);
        border-left: 4px;
        border-style: solid;
        border-color: var(--rosa);
    }
}