.item .text__nav {
    font-weight: 400;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease;
}

@media screen and (min-width: 1024px) {
    .item:hover .text__nav {
        width: 100%;
    }
}