.botonRrssOscuro__boton {
    background-color: var(--azul);
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    &::after{
        content: "";
        display: block;
        width: 33px;
        height: 33px;
        position: absolute;
        background-color: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100%;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    }

    &.active{
        background-color: var(--verde);

        .icons-dark{
            color: var(--azul);
        }

        &::after{
            right: 0;
            left: unset;
        }
    }
}



/* Semantica de los otros estilos
    body.dark nav a{
    
    }
*/