.botonRrssOscuro__rrss__icono__grupo__1 .botonRrssOscuro__rrss__link,
.botonRrssOscuro__rrss__icono__grupo__2 .botonRrssOscuro__rrss__link,
.botonRrssOscuro__rrss__icono__grupo__3 .botonRrssOscuro__rrss__link {
    display: none;
}

@media screen and (min-width: 1024px) {

    .botonRrssOscuro__rrss__icono__grupo__1 .botonRrssOscuro__rrss__link,
    .botonRrssOscuro__rrss__icono__grupo__2 .botonRrssOscuro__rrss__link,
    .botonRrssOscuro__rrss__icono__grupo__3 .botonRrssOscuro__rrss__link {
        display: inline-block;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: width 0.3s ease;
    }

    .botonRrssOscuro__rrss__icono__grupo__1:hover .botonRrssOscuro__rrss__link,
    .botonRrssOscuro__rrss__icono__grupo__2:hover .botonRrssOscuro__rrss__link,
    .botonRrssOscuro__rrss__icono__grupo__3:hover .botonRrssOscuro__rrss__link {
        overflow: visible;
        transition: width 0.3s ease;
        align-content: center;
        width: 100%;
        opacity: 1;
    }
}