/*------------------------------------------------------ Versión móvil------------------------------------------------------ */
.pasatiempos__galeria{
    padding: 0rem;
}
/*------------------------------------------------------ Versión tablet------------------------------------------------------ */

/*------------------------------------------------------ Versión desktop------------------------------------------------------ */
@media screen and (min-width: 1024px) {
    .pasatiempos__galeria {
        display: flex;
        gap: 1rem;
        padding: 0 4rem;
    }
}
/*------------------------------------------------------ Versión modo oscuro------------------------------------------------------ */